/* OVERLAY */
.search-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(0px);
  z-index: 1000;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 13rem;
  opacity: 0;
  pointer-events: none;

  transition: opacity 0.2s ease, background 0.2s ease,
    backdrop-filter 0.2s ease;
}
.result-item.active {
  background: #f5f5f5;
}

.search-overlay.open {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(0px);
  opacity: 1;
  pointer-events: auto;
}

/* MODAL */
.search-modal {
  width: 600px;
  background: #fff;
  border-radius: 12px;
  padding: 20px;

  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);

  opacity: 0;
  transform: translateY(-20px) scale(0.98);
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.search-modal.open {
  opacity: 1;
  transform: translateY(0) scale(1);
}
.search-section{
max-height: 300px;          /* controls visible height */
  overflow-y: auto;           /* enable vertical scroll */
  overscroll-behavior: contain;
}

/* Input */
.search-input-wrapper input {
  width: 100%;
  padding: 14px 16px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
}

.search-input-wrapper input:focus {
  border-color: #828383;
}

/* Categories */
.search-categories {
  display: flex;
  gap: 10px;
  margin: 16px 0;
  flex-wrap: wrap;
}

.category-chip {
  padding: 6px 14px;
  border-radius: 999px;
  border: 1px solid #e0e0e0;
  background: #f9f9f9;
  cursor: pointer;
  font-size: 14px;
}

.category-chip:hover {
  background: #e6faf4;
  border-color: #00b386;
}

/* Section */
.section-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #555;
}

/* Results */
.result-list {

  list-style: none;
  padding: 0;
  margin: 0;
}

.result-item {
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont;
}

.result-item:hover {
  background: #f5f5f5;
}

.trend {
  color: #00b386;
  font-size: 14px;
}
