.transactions {
  background: #fff;
  padding: 16px;
  border-radius: 12px;
  flex-direction: column;
  overflow-y: auto;           /* enable vertical scroll */
  overscroll-behavior: contain;  
}
.trans{
    overflow-y: auto;           /* enable vertical scroll */
  overscroll-behavior: contain; 
  max-height: 350px;

}

.transactions-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

.transaction-row {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
  border-bottom: 1px solid #eee;
  
}

.transaction-row:last-child {
  border-bottom: none;
}

.txn-left {
  display: flex;
  gap: 12px;
}

.txn-icon {
  font-size: 18px;
  margin-top: 4px;
}

.txn-icon.credit {
  color: #2db783;
}

.txn-icon.debit {
  color: #cf2a2a;
}

.txn-title {
  font-weight: 600;
  font-size: 15px;
}

.txn-date {
  font-size: 12px;
  color: #777;
  margin-top: 4px;
}

.txn-right {
  text-align: right;
}

.txn-amount {
  font-size: 17px;
  font-weight: 600;
}

.txn-amount.credit {
  color: #2db783;
}

.txn-amount.debit {
  color: #333;
}

.txn-balance {
  font-size: 12px;
  color: #777;
  margin-top: 4px;
}

.txn-empty {
  text-align: center;
  color: #777;
  padding: 24px;
}
